.embla__slide__number {

  font-size: 4rem;
  font-weight: 600;
  user-select: none;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: gray;
  opacity: 0.6;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  position:relative;
  justify-content: flex-end;
  align-items: center;
}
.embla__dot {

  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.1);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid gray;
  padding: 1px;
  margin: 0;
  width: 4rem;
  height: 2rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.embla__dot--selected {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.1);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(93, 24, 24);
  
  margin: 0;
  width: 5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}